:root {
    --main-golden: #eab003;
    --primary-red: #f05051;
    --board-square-light: #f7f6d8;
    --main-green: #a1f7a5;
    --default-black: black;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto Serif", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("../static/images/table.jpeg");
}
